.wrapper#about
    .about.aos-item.aos-init(data-aos='flip-down')
        .inner
            .about-content
                h3= content.aboutTitle.title

                ul
                    each text in content.aboutText
                        li= text