.wrapper
    .about
        .inner
            .about-content
                h3= content.aboutTitle.title

                ul
                    each text in content.aboutText
                        li= text