.wrapper
    .inner
        nav.page-menu
            .logo
                a(href= nav.logo.link)= nav.logo.title

            ul.menu-list
                each link, title in nav.pageNav
                    li
                        a(href= link)= title

        a.btn-burger-wrapper.toggle
            span.btn-burger.btn-burger-top
            span.btn-burger.btn-burger-middle
            span.btn-burger.btn-burger-bottom

        div.page-menu-overlay#overlay.toggle

            .menu-list-overlay-wrap
                ul.menu-list-overlay
                    li
                        a(href= nav.logo.link)= nav.logo.title

                    each link, title in nav.pageNav
                        li
                            a(href= link).menu-link= title