.wrapper
    .what
        .inner
            .what-content#program-includes
                h2= content.what.title
                p.what-paragraph= content.what.text

                .carousel
                    each text, link in content.whatImg
                        .carousel-cell
                            img(src= link, alt= text)

                .what-list
                    ul
                        each text in content.whatList
                            li= text

                div.what-description
                    p= content.whatDescr.text
