.about
    background-color $bg-about
    color $text-about

.about-content
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    padding 40px 15px

    h2
        font-size 1.25em

    ol
        font-size 1em
        line-height 1.2
