.banner
    background $bg-banner url("../../static/img/content/banner.png") no-repeat right center
    min-height 600px
    line-height 1.15

.banner-content
    height 100%
    max-width 500px
    padding 110px 15px 70px
    
    h2
        color $header-banner

    p
        color $text-banner
        font-size 18px

.banner-text-group
    padding 40px 0 90px

    p:first-child
        padding-bottom 30px

.banner-btn-group
    a:first-child
        margin-right 30px