.banner
    background $bg-banner url("../../static/img/content/banner.png") no-repeat 45vw center
    min-height 600px
    line-height 1.15

.banner-content
    height 100%
    max-width 500px
    padding 110px 15px 70px

    h2
        color $header-banner

    p
        color $text-banner
        font-size 18px

.banner-text-group
    padding 40px 0 90px

    p:first-child
        padding-bottom 30px

.banner-btn-group
    a:first-child
        margin-right 30px

        
@media (max-width 540px)
    .banner-content
        padding 110px 15px 50px

    .banner-text-group
        padding 20px 0 50px


@media (max-width 490px)
    .banner-content
        padding 30px 15px 0px

    .banner-btn-group
    a:first-child
        margin-bottom  30px
