.banner
    min-height 600px
    background $bg-banner url(../../static/img/content/banner.png)  no-repeat 45vw center
    overflow hidden

.banner-content
    height 100%
    max-width 500px
    padding 110px 15px 70px

    h1
        color $header-banner
        font-size 28px

    p
        color $text-banner
        font-size 19px

.banner-text-group
    padding 40px 0 90px

    p:first-child
        padding-bottom 30px

.banner-btn-group
    a:first-child
        margin-right 30px

.btn-banner
    font-size 14px
    color $banner-btn
    border 2px solid $banner-btn

    &:hover
        background-color $banner-btn
        color $white

@media (min-width 1440px)
    .banner
        background-position right center


@media (max-width 540px)
    .banner-content
        padding 110px 15px 50px

    .banner-text-group
        padding 20px 0 50px


@media (max-width 560px)
    .banner-content
        padding 30px 15px 0px

    .banner-btn-group
        a
            margin 0 0 30px 0


@media (max-width 375px)
    .banner-content
        h1
            font-size 24px

        p
            font-size 17px

    .banner-text-group
        padding 40px 0 40px