.benefit-item
.benefit-item-reverse
    display flex
    justify-content space-between
    padding  35px 0

.benefit-item-list
    margin 45px 0 80px

.benefit-item
    flex-direction row

.benefit-item-reverse
    flex-direction row-reverse

.benefit-item-inner
    position relative
    display flex
    flex-direction column
    align-items flex-start
    margin 0 7%
    max-width 575px
    min-width 150px

.benefit-title
    margin 100px 0 0 0
    color $header-benefit
    font-size 30px
    font-weight bold
    text-align center

.benefit-item-title
.benefit-item-text
.benefit-btn
.benefit-panel
    color $text-benefit

.benefit-item-text
    min-width 150px
    max-width 575px
    width 100%

.benefit-item-title
    font-size 30px
    margin 90px 0 20px
    z-index 2

.benefit-item-number
    position absolute
    top 0
    font-size 200px
    line-height 150px
    font-weight bold
    color $number-benefit

.benefit-item-text
.benefit-btn
.benefit-panel
    font-size 15px
    line-height 22.5px
    z-index 2

.benefit-item-img
    size(420px)

.benefit-btn
    cursor pointer
    width 100%
    text-align start
    border none
    outline none

.benefit-panel
    padding  15px 0 0 0
    display none
    max-width 575px
    min-width 150px


@media (max-width 768px)
    .benefit-item
    .benefit-item-reverse
        flex-direction column

    .benefit-item-img
        margin 20px 0 0 auto
        size(40%)
        border-radius 50%


@media (min-width 768px) and (max-width 1024px)
    .benefit-item-img
        size(200px)