.callback
    background-color $bg-callback

.callback-content
    padding 70px 0

.callback-title
    font-size 32px
    font-weight bold
    color $title-callback
    text-align center

.callback-sub-title
    margin 40px 0 60px

.callback-form-title
.callback-sub-title
    font-size 17px
    color $sub-title-callback
    text-align center

.callback-form
    display flex
    flex-direction column
    justify-content center
    align-items center

.callback-fieldset
    display flex
    flex-direction row
    justify-content space-between
    margin-top 40px
    margin-bottom 70px

.callback-fieldset-item
    margin 0 15px
    display flex
    flex-direction column
    width 370px

    label
        padding 0 0 10px 0
        font-size 15px
        color #58595b

    input
        padding 12px
        border-radius 4px
        border 0

.btn-callback
    margin 0 auto
    width 100%
    max-width 370px
    font-size 18px
    color white
    border 0
    background-color  $btn-callback