.info
  background-color  rgba(0,0,0,0.5)

.info-bg
  background url(../../static/img/content/bg-info.jpg) fixed no-repeat center

.info-content
  padding 75px 0 80px
  text-align center

.info-title
  margin 0 0 50px
  font-size 32px
  font-weight bold
  color $header-info

.info-text
  margin 0 0 20px 0

.info-fact
  margin 0 0 75px 0

.info-description-title
  margin 0 0 20px 0

.info-description-text
  margin 0 15%
  line-height 20px

.info-text,
.info-description-title
  font-size 16px
  text-transform uppercase

.info-sub-text,
.info-description-text
  font-size 15px

.info-fact
  font-size 24px
  font-weight bold

.hour-number,
.hour-title,
.descr,
.info-fact
  color $brogress-bar-info

.info-text,
.info-sub-text,
.info-description-title,
.info-description-text
  color $white

.hour-number
  font-size 50px
  font-weight bold
  padding 0 0 10px 0

.hour-title
  font-size 17px

.descr
  padding 60px 0 0 0
  font-size 22px

.info-progress-bar-group
  display flex
  align-items flex-start
  justify-content center
  margin 90px 0 75px

.info-progress-bar
  position relative
  width 150px
  margin 0 20px

#infoProgressBar1,
#infoProgressBar2,
#infoProgressBar3,
#infoProgressBar4,
#infoProgressBar5
  position absolute
  margin-top -30px
  size(150px)


@media (max-width 540px)
  .info-description-text
    margin 0 5%


@media (max-width 1024px)
  #infoProgressBar1,
  #infoProgressBar2,
  #infoProgressBar3,
  #infoProgressBar4,
  #infoProgressBar5
    position absolute
    margin-top -30px
    size(100px)

  .info-progress-bar
    width 100px
    margin 0 10px

  .hour-number
    font-size 30px
    padding 0

  .descr
    font-size 12px
    padding 20px 0 0 0


@media (max-width 600px)
  #infoProgressBar1,
  #infoProgressBar2,
  #infoProgressBar3,
  #infoProgressBar4,
  #infoProgressBar5
    position absolute
    margin-top -15px
    size(50px)

  .info-progress-bar
    width 50px
    margin 0 5px

  .hour-number
    font-size 20px
    padding 0

  .hour-title
    padding 20px 0 0 0

  .descr
    font-size 10px
    padding 10px 0 0 0