.sheme
    background-color $bg-sheme
    padding   90px 0

.sheme-content
    border-bottom 1.5px solid $number-sheme

.sheme-title
    margin 0 0 40px
    text-align center
    color $title-sheme
    font-size 30px
    font-weight bold

.sheme-text
    font-size 19px
    font-weight bold
    color $text-sheme

.sheme-descr
    margin 15px 0 60px 0
    font-size 16px
    colot $descr-sheme

.sheme-number
    position absolute
    display inline-block
    //margin 0 auto
    size(55px)
    bottom -27.5px
    left 130px
    font-size 27px
    font-weight  bold
    background-color  $bg-number-sheme
    color $number-sheme
    border-radius 100%
    border 1.5px solid $number-sheme
    line-height 55px
    text-align center


.sheme-list
    display flex
    flex-direction row
    justify-content space-around

.sheme-item
    position relative
    display flex
    flex-direction column
    justify-content space-between
    width 315px

.sheme-item
    .sheme-number
        margin 0 auto