.sheme
    background-color $bg-sheme
    padding 90px 0

.sheme-content
    border-bottom 1.5px solid $number-sheme

.sheme-title
    margin 0 0 40px
    font-size 30px
    font-weight bold
    color $title-sheme
    text-align center

.sheme-text
    font-size 19px
    font-weight bold
    color $text-sheme

.sheme-descr
    margin 10px 0 60px 0
    font-size 16px
    colot $descr-sheme

.sheme-number
    position absolute
    display inline-block
    left calc(50% - 27.5px)
    bottom -27.5px
    size(55px)
    line-height 55px
    font-size 27px
    font-weight  bold
    text-align center
    color $number-sheme
    background-color  $bg-number-sheme
    border-radius 100%
    border 1.5px solid $number-sheme
    
.sheme-list
    display flex
    flex-direction row
    justify-content space-around

.sheme-item
    position relative
    display flex
    flex-direction column
    justify-content space-between
    width 315px

.sheme-item
    .sheme-number
        margin 0 auto


@media (max-width 768px)
    .sheme-content
        border-bottom 0

    .sheme-list
        flex-direction column

    .sheme-item
        width 100%
        border-bottom 1.5px solid $number-sheme
        margin-bottom 60px

    .sheme-number
        left calc(50% - 27.5px)


@media (min-width 768px) and (max-width 1024px)
    .sheme-text
    .sheme-descr
        margin-left 20px