.why-content
    margin 80px 0

.why-title
    font-size 30px
    font-weight bold
    text-align center
    color $title-why

.why-item-title
.why-item-text
    color $text-why
    line-height 24px

.why-item-title
    margin-bottom 10px
    font-size 20px
    font-weight bold

.why-item
    display flex
    flex-direction row
    justify-content space-around
    align-items center
    margin 70px 100px 0

.why-item-all-text
    max-width 750px

.why-item-img
    size(100px)
    margin 0 20px 0 0