.hidden-wrap
    display none
    visibility hidden

.wrapper
    width 100%
    max-width 1360px
    margin 0 auto
    overflow-x hidden

.inner
    max-width 1240px
    margin 0 auto
    padding 0 25px

.btn
    display inline-block
    min-width 140px
    padding 12px 20px
    text-align center
    text-transform uppercase
    font-size 0.875em //14px
    border-radius 4px


