@import 'fonts.styl'
@import 'vars.styl'
@import 'libs.styl'
@import 'mixins.styl'

html
	line-height 1.15
	font-size 16px
	//line-height 1


body
	font-family  Fregat, Arial, sans-serif


h1,h2,h3,h4,h5,h6
	margin 0
	text-transform uppercase


h1
	font-size 1.5em

h2
	//font-size 2em

ul,li
	margin 0
	padding 0
	list-style-type none

p
	margin 0

a
	text-decoration none
	color inherit
	transition .3s

	&:active
		opacity 0.6
		transition .3


audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle


textarea
	resize none


section
	position relative


input,
select,
button
	outline none


*, *:before, *:after
	box-sizing border-box


// Общие стили
@import 'common_styles.styl'


// МОДУЛИ
// Стили шапки
@import 'modules/header.styl'

// Стили баннера
@import 'modules/banner.styl'

// Стили блок 'about'
@import 'modules/about.styl'

// Стили блок 'what'
@import '/modules/what.styl'

// Стили блок 'call'
@import '/modules/call.styl'

//	Стили блок 'info'
@import '/modules/info.styl'

//	Стили блок 'benefit'
@import '/modules/benefit.styl'

// Стили футера
@import 'modules/footer.styl'

// Стили carousel
@import 'modules/carousel.styl'

// Стили меню
@import 'modules/menu.styl'


// СТРАНИЦЫ
// Стили главной страницы
@import 'pages/index.styl'


// ПРОЧЕЕ
// Стили медиазапросов
@import 'media.styl'