// bg-color
$green = #63b945
$tara = #d7eed6 // light bg-color
$hint-of-green = #ddffcc // light bg-color
$blue-romance = #ccffcc // light bg-color
$white = #ffffff
$lightgray = #f1f2f2
$gray = #4c4c4c

// text color
$nobel = #a2a2a2
$eclipse = #363636 // gray-1
$cactus = #606360   // gray-2
$kelly-green = #4cb027
$night-rider = #313131 // gray-3

// menu text color
$menu-color = $eclipse
$menu-color-hover = $green
$bg-menu-overlay = $lightgray
$bg-btn-burger = $night-rider

$menu-link-overlay = $night-rider
$menu-link-overlay-hover = $green

// banner color
$bg-banner = $tara
$text-banner = #4e4e4e
$header-banner = $green

// banner btn
$banner-btn = $kelly-green

// about
$bg-about = $green
$text-about = $white

// what
$header-what = $kelly-green
$text-what = $night-rider
$text-desc-what = $nobel

// font-face
@font-face
    font-family Fregat
    font-style normal
    font-weight normal
    src url(../fonts/Fregat_regular.otf)

@font-face
    font-family Fregat
    font-style italic
    font-weight normal
    src url(../fonts/Fregat_italic.otf)

@font-face
    font-family Fregat
    font-style normal
    font-weight bold
    src url(../fonts/Fregat_bold.otf)

@font-face
    font-family Fregat
    font-style italic
    font-weight bold
    src url(../fonts/Fregat_bold_italic.otf)

// РАЗМЕРЫ
