    // bg-color
$green              = #63b945
$tara               = #d7eed6   // light bg-color
$hint-of-green      = #ddffcc   // light bg-color
$blue-romance       = #ccffcc   // light bg-color
$white              = #ffffff
$lightgray          = #f1f2f2
$gray               = #4c4c4c

    // text color
$nobel              = #a2a2a2
$eclipse            = #363636   // gray-1
$cactus             = #606360   // gray-2
$kelly-green        = #4cb027
$night-rider        = #313131   // gray-3
$matterhorn         = #4e4e4e

    // menu text color
$menu-color         = $eclipse
$menu-color-hover   = $green
$bg-menu-overlay    = $lightgray
$bg-btn-burger      = $night-rider

$menu-link-overlay          = $night-rider
$menu-link-overlay-hover    = $green

    // banner color
$bg-banner          = $tara
$text-banner        = $matterhorn
$header-banner      = $green

    // banner btn
$banner-btn         = $kelly-green

    // about
$bg-about           = $green
$text-about         = $white

    // what
$header-what        = $kelly-green
$text-what          = $night-rider
$text-desc-what     = $nobel


    // font-face
@font-face
    font-family Fregat
    src url(../fonts/Fregat_regular.eot)
    src url(../fonts/Fregat_regular.eot) format('embedded-opentype')
    src url(../fonts/Fregat_regular.woff2) format('woff2')
    src url(../fonts/Fregat_regular.woff) format('woff')
    src url(../fonts/Fregat_regular.ttf) format('truetype')
    src url(../fonts/Fregat_regular.svg#Fregat_regular) format('svg')
    font-style normal
    font-weight normal
    //src url(../fonts/Fregat_regular.otf)

@font-face
    font-family Fregat
    src url(../fonts/Fregat_italic.eot)
    src url(../fonts/Fregat_italic.eot) format('embedded-opentype')
    src url(../fonts/Fregat_italic.woff2) format('woff2')
    src url(../fonts/Fregat_italic.woff) format('woff')
    src url(../fonts/Fregat_italic.ttf) format('truetype')
    src url(../fonts/Fregat_italic.svg#Fregat_italic) format('svg')
    font-style italic
    font-weight normal
//src url(../fonts/Fregat_italic.otf)

@font-face
    font-family Fregat
    src url(../fonts/Fregat_bold.eot)
    src url(../fonts/Fregat_bold.eot) format('embedded-opentype')
    src url(../fonts/Fregat_bold.woff2) format('woff2')
    src url(.//fonts/Fregat_bold.woff) format('woff')
    src url(../fonts/Fregat_bold.ttf) format('truetype')
    src url(../fonts/Fregat_bold.svg#Fregat_bold) format('svg')
    font-style normal
    font-weight bold
    //src url(../fonts/Fregat_bold.otf)

@font-face
    font-family Fregat
    src url(../fonts/Fregat_bold_italic.eot)
    src url(../fonts/Fregat_bold_italic.eot) format('embedded-opentype')
    src url(../fonts/Fregat_bold_italic.woff2) format('woff2')
    src url(../fonts/Fregat_bold_italic.woff) format('woff')
    src url(../fonts/Fregat_bold_italic.ttf) format('truetype')
    src url(../fonts/Fregat_bold_italic.svg#Fregat_bold_italic) format('svg')
    font-style italic
    font-weight bold
    //src url(../fonts/Fregat_bold_italic.otf)

